
.member__container
    width: 230px

.member__container.generic
    padding: 0 1rem

.member__image
    width: 120px
    border-radius: 50%

.member__image.generic
    width: 60px
    margin-top: 40px

.member--clickable
    text-decoration: underline
    cursor: pointer
