
.content-list,
.log-list
    font-size: 14px

.log-list button,
.content-list button
    margin: 0

#dashboard .blog-list,
#dashboard .content-list
    margin-bottom: 40px
    clear: both

.blog-group,
.content-group
    border-bottom: 1px solid #dee2e6

.blog-row,
.content-row
    padding: 20px
    border-top: 1px solid #dee2e6
    background-color: #f5f5f5

.blog-row .title,
.content-row .title
    margin: 0
    font-size: 18px
    margin-bottom: 10px

.blog-row .title a,
.content-row .title a
    color: $orange
    text-decoration: underline

.blog-row .date,
.content-row .date
    font-size: 13px

.blog-row .subtitle
    margin: 12px 0
