
.content-list,
.log-list
    font-size: 14px

.log-list button,
.content-list button
    margin: 0

#dashboard .blog-list
    margin-bottom: 40px
    clear: both

.blog-group
    border-bottom: 1px solid #dee2e6

.blog-row
    padding: 20px
    border-top: 1px solid #dee2e6
    background-color: #f5f5f5

.blog-row .title
    margin: 0;
    font-size: 18px;

.blog-row .date
    font-size: 13px;

.blog-row .subtitle
    margin: 12px 0;
