
#dashboard .alert__banner
    display: none

.section_sidebar
    float: left
    width: 30%

.section_sidebar .inner
    margin:8px

.section_mainbar
    float: left
    width: 70%

.section_mainbar .inner
    margin-left: 20px
