/*
 * http://stylus-lang.com/
 * https://css-tricks.com/almanac/properties/b/border-radius/
 */

border-radius()
    -webkit-border-radius: arguments
    -moz-border-radius: arguments
    border-radius: arguments

border-top-left-radius()
    -webkit-border-top-left-radius: arguments
    -moz-border-radius-topleft: arguments
    border-top-left-radius: arguments

border-top-right-radius()
    -webkit-border-top-right-radius: arguments
    -moz-border-radius-topright: arguments
    border-top-right-radius: arguments

border-bottom-right-radius()
    -webkit-border-bottom-right-radius: arguments
    -moz-border-radius-bottomright: arguments
    border-bottom-right-radius: arguments

border-bottom-left-radius()
    -webkit-border-bottom-left-radius: arguments
    -moz-border-radius-bottomleft: arguments
    border-bottom-left-radius: arguments

transform()
    -webkit-transform: arguments
    -ms-transform: arguments
    transform: arguments

transition()
    transition: arguments
    -webkit-transition: arguments
    -moz-transition: arguments
    -o-transition: arguments
    -ms-transition: arguments
