.form-wrapper
    margin: 20px

.form-wrapper .splash
    background-color: #e87e01
    color: #ffffff
    padding: 20px
    border-radius: 6px
    font-size: 18px
    font-weight: bold

.form-wrapper .splash .remove-btn
    text-decoration: underline
    font-weight: bold
    font-size: 12px
    margin-top: 14px
    float: right

.form-wrapper form
    border: 1px solid $orange
    border-radius: 6px
    padding: 10px

.form-wrapper .form-title
    margin-bottom: 8px
    text-transform: capitalize

.form-wrapper form label
    display: block
    margin-bottom: 8px
    font-weight: bold

.form-wrapper form input[type=text],
.form-wrapper form textarea
    border-radius: 6px
    border: 1px solid #d0d0d0
    display: block
    min-width: 550px
    min-height: 30px
    margin: 10px 0
    padding: 4px 12px
    color: #353535

.form-wrapper form input[type=checkbox]
    height: 16px

.form-wrapper form input[type=submit],
button
    border-radius: 6px
    padding: 8px 12px
    background-color: #f5f5f5
    cursor: pointer
    margin: 10px

button
    margin-left: 0
    font-size: 14px

.view-link
    color: #ff7b00
    margin: 14px 14px 18px
    display: block
    font-weight: bold

.form-wrapper form textarea
    width: 80%
    min-height: 200px
    padding: 12px

form .rdw-editor-wrapper
    margin: 0 auto 20px auto

form .rdw-editor-wrapper .rdw-editor-toolbar
    border: 0
    border-bottom: 1px solid #f1f1f1
    margin-bottom: 0

form .rdw-editor-main
    padding: 0 20px
    border: 1px solid rgb(208, 208, 208)

#Alert .rdw-editor-main
    background-color: #2d2d2d
    color: white
    font-weight: bold

#Alert .rdw-editor-main span
    color: #ffffff
    font-weight: bold

#Alert .rdw-editor-main span a
    color: #ffffff
    font-weight: bold
    display: inline-block
    border-bottom: 1px solid white
    padding-bottom: 2px
    text-decoration: none

form .rdw-editor-wrapper .rdw-editor-toolbar
    border: none

.file-upload
    position: relative
    overflow: hidden
    margin: 10px
    margin-left: 0
    width: 26px
    height: 26px
    border-radius: 7px
    line-height: 24px
    background-image: url('../img/glyphicons-halflings.png')
    background-position: -450px -43px
    background-repeat: no-repeat
    border: 1px solid #bfbfbf

.file-upload input
    position: absolute
    top: 0
    right: 0
    margin: 0
    padding: 0
    font-size: 20px
    cursor: pointer
    opacity: 0

.input__wrapper
    border: 1px solid #efefef
    margin: 10px
    padding: 20px
    border-radius: 6px

.input__wrapper .description
    font-size: 14px
    font-style: italic

.error-msg
    color: red
    font-size: 13px
    margin: 10px 0 0
    font-weight: bold
    padding: 10px
    background-color: #ffe3e3
    border-radius: 6px

.image-preview
    clear:both

.image-preview img
    width: auto
    max-width: 100%

.file-preview
    margin-top: 20px
    margin-bottom: 20px
