
.alert__banner
    background-color: $near-black
    color: $orange

.header--mobile
  display: none;

.header__container
    height: 110px
    font-size: 16px
    box-sizing: border-box

.header__container--web
    height: 110px
    font-size: 16px
    box-sizing: border-box
    padding: 30px 40px

.header__logo
    height: 50px

.header__logo--mobile
    display: none

.header__link
    text-decoration: none
    transition: color .15s ease-in

.header__link:hover
    color: currentColor
    border-bottom: 1px solid currentColor
    padding-bottom: 1px
    text-decoration: none
    transition: color .15s ease-in

.header__link:active
    color: currentColor
    border-bottom: 1px solid currentColor
    padding-bottom: 1px
    text-decoration: none
    transition: color .15s ease-in

.header__link:focus
    color: currentColor
    border-bottom: 1px solid currentColor
    padding-bottom: 1px
    text-decoration: none
    transition: color .15s ease-in

.user-header
    float: right
    width: 36px
    height: 36px
    margin-top: 4px
    text-align: center
    line-height: 14px
    margin-left: 13px
    font-size: 12px

.user-header img
    width: 100%
    height: auto
    border-radius: 50%

.user-header .icon
    width: 36px
    height: 36px
    background-color: #efefef
    border-radius: 50%
    border: 3px solid #fff
    transition: border .15s ease-in
    cursor: pointer

.user-header .icon:hover
    border: 3px solid $orange

.user-header .icon svg
    margin-top: 6px

.user-header a.user-edit
    font-size: 10px
    color: #000
    display: block
    line-height: 12px
    overflow: hidden

@media (max-width: 1050px)
    .font-thin
        font-weight: normal

    .header--web
        display: none;

    .header--mobile
        display: block;

    .header__logo
        padding: 30px 40px

@media (max-width: 400px)
    .header__logo
        display: none

    .header__logo--mobile
        display: block
        height: 50px
        padding: 30px 40px
