
.alert__banner
    background-color: $near-black
    color: $orange

.header--mobile
  display: none;

.header__container
    height: 110px
    font-size: 16px
    box-sizing: border-box

.header__container--web
    height: 110px
    font-size: 16px
    box-sizing: border-box
    padding: 30px 40px

.header__logo
    height: 50px

.header__logo--mobile
    display: none

.header__link
    text-decoration: none
    transition: color .15s ease-in
    -webkit-transition: color .15s ease-in
    -moz-transition: color .15s ease-in
    -o-transition: color .15s ease-in
    -ms-transition: color .15s ease-in

.header__link:hover
    color: currentColor
    border-bottom: 1px solid currentColor
    padding-bottom: 1px
    text-decoration: none
    transition: color .15s ease-in
    -webkit-transition: color .15s ease-in
    -moz-transition: color .15s ease-in
    -o-transition: color .15s ease-in
    -ms-transition: color .15s ease-in

.header__link:active
    color: currentColor
    border-bottom: 1px solid currentColor
    padding-bottom: 1px
    text-decoration: none
    transition: color .15s ease-in
    -webkit-transition: color .15s ease-in
    -moz-transition: color .15s ease-in
    -o-transition: color .15s ease-in
    -ms-transition: color .15s ease-in

.header__link:focus
    color: currentColor
    border-bottom: 1px solid currentColor
    padding-bottom: 1px
    text-decoration: none
    transition: color .15s ease-in
    -webkit-transition: color .15s ease-in
    -moz-transition: color .15s ease-in
    -o-transition: color .15s ease-in
    -ms-transition: color .15s ease-in

@media (max-width: 1050px)
    .font-thin
        font-weight: normal

    .header--web
        display: none;

    .header--mobile
        display: block;

    .header__logo
        padding: 30px 40px

@media (max-width: 400px)
    .header__logo
        display: none

    .header__logo--mobile
        display: block
        height: 50px
        padding: 30px 40px
