
.hero__container
    padding: 125px 20px
    height: 300px
    background-size: cover
    background-image: url('../img/slideshow/blockchain-dim.png')

.hero__container--static
    padding: 125px 20px
    background-image: url('../img/slideshow/blockchain-dim.png')
    background-size: cover

.info__container
    max-width: 340px

.technologies__container
    max-width: 840px

.divider__container
    padding: 90px 20px
    background-image: url('../img/node-dim.png')
    background-size: cover

.divider__text
    max-width: 840px
