.login__form
    width: 600px
    margin: 0 auto

.login__form .get-challenge
    margin-left: 10px

.login__label
    float: left
    margin: 10px
    width: 100%
    clear: both

.login__label input
    width: 100%
    border-radius: 4px
    border: 1px solid #ccc
    margin-top: 4px
    height: 24px
    padding: 2px 14px

.login__submit
    clear: both
    float: left
    border-radius: 6px
    padding: 4px 14px
    margin: 10px 0 0 10px

.login__textarea,
#challenge-text
    width: 100%
    border-radius: 4px
    border: 1px solid #ccc
    margin-top: 4px
    height: 60px
    padding: 14px

.error
    margin-left: 10px
    width: 100%
    color: #000000
    background-color: #ffaeae
    border-radius: 4px
    padding: 14px
    margin-bottom: 10px
    font-size: 14px
    line-height: 20px
    position: relative

.error .clear-error
    position: absolute
    border: 1px solid #757575
    border-radius: 4px
    padding: 0px 6px
    top: 10px
    right: 10px
    height: 20px
    line-height: 21px
    color: #4a4a4a
    cursor: pointer

.error.false
    display: none

.challenge
    border: 1px solid #ccc
    border-radius: 4px
    padding: 14px
    text-align: center
    width: 100%
    margin: 10px auto

.challenge > div
    margin: 0 auto

.challenge .copy
    border-radius: 4px
    padding: 6px
    background-color: #ccc
    margin-top: 10px
    cursor: pointer

.countdown-timer
    font-size: 14px
    border: 1px solid #ff821a
    border-radius: 8px
    text-align: center
    width: 40px
    color: #ff821a
    line-height: 19px
    display: inline-block
    margin-left: 5px
