.login__form
    width: 600px
    margin: 0 auto

.login__label
    float: left
    margin: 10px
    width: 100%
    clear: both

.login__label input
    width: 100%
    border-radius: 4px
    border: 1px solid #ccc
    margin-top: 4px
    height: 24px
    padding: 2px 14px

.login__submit
    clear: both
    float: left
    border-radius: 6px
    padding: 4px 14px
    margin: 10px 0 0 10px

.login__textarea
    width: 100%
    border-radius: 4px
    border: 1px solid #ccc
    margin-top: 4px
    height: 60px
    padding: 14px

.error
    margin-left: 10px
    width: 100%
    color: #000000
    background-color: #ffaeae
    border-radius: 4px
    padding: 14px
    margin-bottom: 10px
    font-size: 14px
    line-height: 20px

.error.false
    display: none

.challenge
    border: 1px solid #ccc
    border-radius: 4px
    padding: 14px
    text-align: center
    width: 100%
    margin: 10px auto
