
.post__container
    width: 65%

.post__image
    max-width: 80%
    max-height: 400px

.post__image-label
    width: 80%

.container-blog
    width: 100%

.container-blog .h1,
.container-blog .h2,
.container-blog .h3
    font-weight: bold

.container-blog .body-content p
    font-size: 18px
    line-height: 1.5em
    width: 54%
    min-width: 340px
    display: block
    margin: 1em auto
    text-align: left

.container-blog .title,
.container-blog .subtitle
    width: 54%
    min-width: 340px
    display: block
    margin: 1em auto
