
.post__container
    width: 65%

.post__image
    max-width: 80%
    max-height: 400px

.post__image-label
    width: 80%

.container-blog .h1,
.container-blog .h2,
.container-blog .h3
    font-weight: bold

.container-blog .body-content p
    font-size: 20px
    line-height: 1.54
