
.post__container
    width: 65%

.post__image
    max-width: 80%
    max-height: 400px

.post__image-label
    width: 80%

.container-blog
    width: 100%

.container-blog .h1,
.container-blog .h2,
.container-blog .h3
    font-weight: bold

.container-blog .body-content p,
.container-blog .body-content ul,
.container-blog .body-content ol
    font-size: 18px
    line-height: 1.5em
    width: 64%
    min-width: 340px
    display: block
    margin: 1em auto
    text-align: left

.container-blog .body-content pre
    width: 64%
    min-width: 340px
    display: block
    margin: 1em auto
    text-align: left

.container-blog .body-content img
    margin: 2% 6% 2% 6%
    border-radius: 3px

.container-blog .title,
.container-blog .subtitle,
.container-blog .author
    width: 64%
    min-width: 340px
    display: block
    margin: 1em auto

.container-blog .subtitle
    border-top: 1px solid #efefef
    border-bottom: 1px solid #efefef
    padding: 30px 0
    font-weight: normal
    margin: 30px auto

.container-blog .title
    margin-bottom: 0

.container-blog .date
    font-size: 12px
    font-style: italic

.container-blog .author
    font-size: 15px
    font-weight: bold
    margin-bottom: 0

#react-app blockquote
    display: block
    width: 100%
    margin: 40px 0
    text-align: center !important
    background-color: #ff7b00
    color: white
    font-size: 26px
    border: 0
    font-weight: bold
    min-height: 140px
    line-height: 140px

#react-app blockquote .public-DraftStyleDefault-ltr
#react-app blockquote .public-DraftStyleDefault-ltr span
    margin: 0
    text-align: center

.container-bloglist .blog-group
    border: none

.container-bloglist .blog-row
    display: block
    position: relative
    padding: 20px 20px 18px
    border-left: 4px solid #ff7b00
    margin-bottom: 10px
    transition: background 1.2s ease-in
    cursor: pointer
    border-top-left-radius: 6px
    border-bottom-left-radius: 6px
    background: transparent
    border-top: none
    text-decoration: none
    color: #000

.container-bloglist .blog-row .hover-bg-gradient
    position: absolute
    background: linear-gradient(90deg,#ff7b00,#ffb32f)
    width: 100%
    height: 100%
    padding: 0
    margin: 0
    top: 0
    left: 0
    border-top-right-radius: 6px
    border-bottom-right-radius: 6px
    z-index: -10
    opacity: 0
    transition: opacity 0.2s linear

.container-bloglist .blog-row:hover .hover-bg-gradient
    opacity: 1

.container-bloglist .blog-row .title
    margin: 0
    font-size: 30px
    margin-bottom: 6px

.container-bloglist .blog-row .date,
.container-bloglist .blog-row .author
    font-size: 14px
    color: #8e8e8e
    transition: color 0.15s linear

.container-bloglist .blog-row:hover .date,
.container-bloglist .blog-row:hover .author
    color: #000

.container-bloglist .blog-row .subtitle
    margin: 12px 0 6px
    font-size: 18px
    line-height: 1.5em;

@media (max-width: 1100px)

    #react-app .body-content blockquote
        min-height: 0
        margin: 20px 0
        padding: 40px 0
        font-size: 20px
        line-height: 1.5em

    .container-blog .body-content p,
    .container-blog .body-content ul,
    .container-blog .body-content ol,
    .container-blog .body-content pre,
    .container-blog .title,
    .container-blog .subtitle,
    .container-blog .author
        width: 80%
        min-width: 300px
        display: block
        margin: 20px auto

@media (max-width: 768px)
    .section__container.container-bloglist
        width: 80%
        min-width: 300px
