/* CSS declarations go here */

#logowrapper {
  width:25%;
  display: inline-block;
  /* border: 2px red solid; */
}

.coinbkg {
}

.coinbkg:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.2;
    background-image: url('/images/coins1.png');
    background-repeat: repeat-y;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}


.paper {
/*  margin-top: 100px;
  margin-right: 100px;
  margin-bottom: 10px;
  margin-left: 100px;
*/
  /* width: 1024px; */
  text-align: justify;
  list-style-type: disc;
}

.horiz {
 /* border: 1px black solid; */
 display: inline-block;
}

.header {
 /* border: 1px black solid; */
 display: block;
 background-image: url("/images/headerbkg.png");
 background-repeat: repeat-x;
 /* height: 130px; */
 background-size: 100% 100%;
 height: 10%;
}

.headerMenu {
 /*  border: 1px black solid; */
 display: inline-block;
 vertical-align: top;
}

.varMenu {
  display: inline-block;
  vertical-align: top;
/*   position: relative;
  top: -2em;
  left: 40%;
*/
  margin-left: 5%;
}


ul {
    list-style-image: url('/images/buIcon24.png');
    vertical-align: middle;
}

.horizR {
 position: absolute;
 /* border: 1px black solid; */
 display: inline-block;
 right: 3%;
 text-align: right;
}


.vert {
 display: block;
}

.faqQ {
  font-weight: bold;
}

.footerImage {
    display: block;
    margin-left: auto;
    margin-right: auto   
}

#homeContent {
  margin-left: 15%;
  margin-right: 15%;
  text-align: justify;
}

#buipContent {
  margin-left: 5%;
  margin-right: 5%;
  text-align: justify;
}

#memberContent {
  margin-left: 10%;
  margin-right: 10%;
  text-align: justify;
}

.alert {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1em;
  border: 3px solid #A35021;
}


.twocolwrapper {
  margin-left: 10%;
  margin-right: 10%;
  /* background-color: yellow; */
  }

.colsep {
 background-color: orange;
 width: 5px;
 padding: 0px;
}

.colsepblank {
 width: 3%;
 padding: 0px;
}

.twocol {
  display:table-row;
}

.twocol>div {
  display:table-cell;
}

#officialDownloads {
  text-align: center;
}


#experimentalDownloads {
  text-align: center;
}


div.buipTableWrapper {
  /* border-width: 10px; */
  /* border-color: #cc88cc; */
}

table.buipTable {
  border: 1px solid #888888;
  width:100%;
}

table.buipTable td {
  border: 1px solid #aaaaaa;
  background-color: #e0e0e0;

}

.passed {
  color: green;
}

.denied {
  color: red;
}

.pending {
  color: orange;
}

.member {
}

.memberName {
  font-weight: bold;
  font-size: 110%;
}
.memberStmt {
  margin-left: 5%;
  margin-right: 5%;
  text-align: justify; 
  font-style: italic;
  font-size: 95%;
}

.signatures {
  display: block;
  position: fixed;
  padding: 2em;
  top: 20%;
  left: 25%;
  width: 50%;
  height: 60%;
  border-radius: 15%;
  /* background-image: url("/images/coins1.png"); */
  background-size: 100%;
  background-color: orange;
  border: 3px solid #cf2D01;
}

.signatureText {
  font-size: 70%;
  overflow: hidden;
}

#signatureHelp {
  font-size: 70%;
  overflow: hidden;
  position: absolute;
  bottom: 2em;
}

.signatures #close {
  background-image: url("/images/close-button.svg");
  background-size: 100%;
  position: absolute;
  top: -1%;
  left: 1%;
  width: 30px;
  height: 35px;
  border-radius: 25%;
}

#sigOfficial112p {
  position: relative;

}
#sigOfficial112 {
  position: absolute;
  top: -3em;
  left: 20px;
}